body{
    background-color: bisque;
    
}
label{
    font-weight: bolder;
}
td,th {
    border: 1px solid black;
}
.card{
    margin-top: 10px;
    
}
#beregkep
{
    max-height: 100px;
    text-align: right;
}
